* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-bottom: 3.5vh;
}
