* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

table {
  border-radius: 5px;
  font-size: 1rem;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: auto;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
  margin-top: 5vh;
}

th,
td {
  text-align: center;
  padding: 0.5vw;
}

td {
  border-right: 1px solid #888888;
  font-size: 1rem;
}

thead th {
  color: lavender;
  background: lightseagreen;
}

thead th:nth-child(odd) {
  color: lavender;
  background: #324960;
}

tr:nth-child(even) {
  background: #f0f0f0;
}
