* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: left;
  background-color: lavender;
}

.menu {
  height: 100%;
  width: 7.5%;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  width: 55%;
  display: flex;
  flex-direction: column;
  margin-bottom: 4vh;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: darkslategray;
  text-transform: uppercase;
  font-size: 1rem;
}

img {
  width: 3.25vw;
  height: 3.25vw;
}

a:hover img {
  width: 3.5vw;
  height: 3.5vw;
}

span {
  width: 150%;
  text-align: center;
  margin-top: 1vh;
}

a:hover span {
  font-size: 1.1rem;
}

.container {
  margin-left: 1.5vw;
  margin-top: 1.5vh;
}

h1 {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-bottom: 2vh;
}
